<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Title -->
    <title>Cubo Protocol</title>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Favicon -->
    <link rel="shortcut icon" href="static/images/cubo.ico">
    <!-- CSS Template -->
    <link href="static/css/style-purpal.css" rel="stylesheet">
</head>

<body>
    <!-- Preload -->
    <div id="loading" class="preloader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
    <!-- End Preload -->
    <!-- Header -->
    <header class="header-main header-light fixed-top">
        <!-- End Top Header -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Logo -->
                <a class="" href="#">
                  <img class="img-lg-140" src="static/images/cubo.png" title="" alt="" style="display: block; width: 50px; margin-left: auto; margin-right: auto; text-align: center;" />
                </a>
                <!-- Logo -->
                <!-- Mobile Toggle -->
                <button class="navbar-toggler ms-auto me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Menu -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                      <li class="nav-item">
                        <a href="/app" class="nav-link">App</a>
                      </li>
                      <li class="nav-item">
                        <a href="/ido" class="nav-link">IDO</a>
                      </li>
                      <li class="nav-item">
                        <a href="https://discord.gg/X2w5xNbxD5" target="_blank" class="nav-link">Discord</a>
                      </li>
                      <li class="nav-item">
                        <a href="https://twitter.com/cubo_money" target="_blank" class="nav-link">Twitter</a>
                      </li>
                      <li class="nav-item">
                        <a href="https://cubo.gitbook.io/cubo-protocol-v0.1/" target="_blank" class="nav-link">Docs</a>
                      </li>
                      <li class="nav-item">
                        <a href="https://cubo.gitbook.io/cubo-protocol-v0.1/other/contracts" target="_blank" class="nav-link">Contracts</a>
                      </li>
                    </ul>
                </div>
                <!-- End Menu -->

                <!-- End Mobile Toggle -->
                <div class="nav flex-nowrap align-items-center">
                    <!-- Nav Button -->
                    <div class="nav-item d-none d-xl-block">
                        <a href="/app" class="btn btn-sm btn-primary mb-0 mx-2 text-nowrap">Open the app</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header End -->
    <!-- Main -->
    <main>
        <!-- Home Banner -->
        <section class="effect-section">
            <div class="container position-relative">
                <div class="row align-items-center pt-12">
                    <div class="col-lg-6 col-xxl-5">
                      <h6 class="h6 text-primary mb-2">Cubo Protocol</h6>
                      <h1 class="display-6 mb-3">Node up.<br /> Contribute to liquidity.</h1>
                      <div class="lead mb-4">
												A node protocol that owns its liquidity and automatically adjusts its supply in order to maintain a stable yield.
											</div>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                      <img class="img-lg-140" src="static/images/cubo.png" title="" alt="" style="display: block; width: 350px; margin-left: auto; margin-right: auto; text-align: center;" />
                    </div>
                </div>
            </div>
        </section>
        <!-- End Home Banner -->
        <!-- section -->
        <section class="section">
            <div class="container">
                <div class="row g-3">
                    <div class="col-lg-4">
                        <div class="card shadow-hover">
                            <div class="card-body d-flex">
                                <div class="col ps-4">
                                    <h5>Stable passive income</h5>
                                    <p class="m-0">
																			Our nodes offer from 0.5% to 1% daily ROI depending on initial investment
																		</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card shadow-hover">
                            <div class="card-body d-flex">
                                <div class="col ps-4">
                                    <h5>Nodes for everyone</h5>
                                    <p class="m-0">
																			We offer 5 different node sizes so you invest as much as you want
																		</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card shadow-hover">
                            <div class="card-body d-flex">
                                <div class="col ps-4">
                                    <h5>Simple to use</h5>
                                    <p class="m-0">
                                      Our app is simple to use and you can get started in 3 easy steps
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End section -->
        <!-- Section -->
        <section class="section border-top">
            <div class="container">
                <div class="row section-heading justify-content-center">
                    <div class="col-lg-7 col-xl-6 text-center">
                        <h3 class="h1 mb-3">What we're about.</h3>
                        <div class="lead">
                          A stable return on investment that will last indefinitly.
                        </div>
                    </div>
                </div>
                <div class="tab-style-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <ul class="nav nav-tabs justify-content-md-center">
                                <li class="nav-item">
                                    <a href="#tab3_sec1" data-bs-toggle="tab" class="active">
                                        <span>Types of nodes</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tab3_sec2" data-bs-toggle="tab">
                                        <span>Protocol owned LPs</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tab3_sec3" data-bs-toggle="tab">
                                        <span>Auto-adjusting supply</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        <!-- start tab content -->
                        <div id="tab3_sec1" class="tab-pane fade in active show">
                            <div class="row align-items-center pt-3 pt-lg-10 justify-content-center">
                                <div class="col-lg-6 my-3 ps-lg-8">
                                    <h6 class="pb-2 text-primary">5 different types of nodes</h6>
                                    <h3>Choose yours...</h3>
                                    <p class="lead">
                                      The bigger the node, the better the daily return
                                    </p>
                                    <ul class="list-unstyled m-0 mt-5">
                                        <li class="d-flex mb-4">
                                          <div class="icon icon-sm icon-primary-light rounded-circle">
                                            1
                                          </div>
                                          <div class="col ps-3">
                                            <h6 class="mb-1">Nano Cubo</h6>
                                            <p class="m-0">100 CUBO x 100 DAI - returns 1 CUBO/day</p>
                                          </div>
                                        </li>
                                        <li class="d-flex mb-4">
                                          <div class="icon icon-sm icon-primary-light rounded-circle">
                                            2
                                          </div>
                                          <div class="col ps-3">
                                            <h6 class="mb-1">Mini Cubo</h6>
                                            <p class="m-0">250 CUBO x 250 DAI - returns 3 CUBO/day</p>
                                          </div>
                                        </li>
                                        <li class="d-flex mb-4">
                                          <div class="icon icon-sm icon-primary-light rounded-circle">
                                            3
                                          </div>
                                          <div class="col ps-3">
                                            <h6 class="mb-1">Kilo Cubo</h6>
                                            <p class="m-0">500 CUBO x 500 DAI - returns 7 CUBO/day</p>
                                          </div>
                                        </li>
                                        <li class="d-flex mb-4">
                                          <div class="icon icon-sm icon-primary-light rounded-circle">
                                            4
                                          </div>
                                          <div class="col ps-3">
                                            <h6 class="mb-1">Mega Cubo</h6>
                                            <p class="m-0">1000 CUBO x 1000 DAI - returns 16 CUBO/day</p>
                                          </div>
                                        </li>
                                        <li class="d-flex mb-4">
                                          <div class="icon icon-sm icon-primary-light rounded-circle">
                                            5
                                          </div>
                                          <div class="col ps-3">
                                            <h6 class="mb-1">Giga Cubo</h6>
                                            <p class="m-0">5000 CUBO x 5000 DAI - returns 100 CUBO/day</p>
                                          </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end tab content -->
                        <!-- start tab content -->
                        <div id="tab3_sec2" class="tab-pane fade in">
                            <div class="row align-items-center pt-3 pt-lg-10 justify-content-center">
                                <div class="col-lg-6 my-3 ps-lg-8">
                                    <h6 class="pb-2 text-primary">LP tokens pool</h6>
                                    <h3>Protocol owned liquidity</h3>
                                    <p class="lead">
                                      When a node is minted we create a CUBO-DAI liquidity pair in SushiSwap and store the LP tokens in the contract's pool. This means that CUBO will always have enough liquidity to be traded. The more nodes are minted, the more liquid CUBO has.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- end tab content -->
                        <!-- start tab content -->
                        <div id="tab3_sec3" class="tab-pane fade in">
                            <div class="row align-items-center pt-3 pt-lg-10 justify-content-center">
                                <div class="col-lg-6 my-3 ps-lg-8">
                                  <h6 class="pb-2 text-primary"></h6>
                                  <h3>Auto-adjusting supply</h3>
                                  <p class="lead">
                                    Cubo DAO's contract adjusts it's own supply daily to keep a constant APR runway of 365 days. This means that for every node that exists we'll always have enough rewards to pay one year ahead. This value is adjusted daily, so it means there will always exist enough CUBO to pay node holders.
                                  </p>
                                  <p class="lead">
                                    This system also makes the token inflationary if there's new nodes being created, but deflationary if there's an excess of CUBO in the pool. The total supply isn't a fixed number as in other tokens.
                                  </p>
                                </div>
                            </div>
                        </div>
                        <!-- end tab content -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->
        <!-- Section -->
        <section class="section bg-dark effect-section">
            <div class="mask bg-cover bg-no-repeat opacity-09"></div>
            <div class="container position-relative">
                <div class="row section-heading justify-content-center">
                    <div class="col-lg-7 col-xl-6 text-center text-white">
                        <h3 class="h1 mb-3">Any questions?</h3>
                        <div class="lead text-white-65">
                          We have way more content in our docs, but here's a TL;DR
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 my-3">
                        <div class="card">
                            <div class="card-body d-flex">
                                <div class="icon icon-lg icon-primary icon-primary-shadow rounded-circle">
                                  <i class="bi bi-patch-question"></i>
                                </div>
                                <div class="col ps-4">
                                    <h5 class="h5 mb-2">What's Cubo?</h5>
                                    <p class="w-lg-90 m-0">
                                      Cubo is a node protocol that owns its liquidity and that automatically adjusts its supply in order to maintain a stable yield forever.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 my-3">
                        <div class="card">
                            <div class="card-body d-flex">
                                <div class="icon icon-lg icon-primary icon-primary-shadow rounded-circle">
                                    <i class="bi bi-box"></i>
                                </div>
                                <div class="col ps-4">
                                    <h5 class="h5 mb-2">Why does Cubo exist?</h5>
                                    <p class="w-lg-90 m-0">
                                      We're very passionate about passive income, we set to create a passive income machine that would just work by itself.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 my-3">
                        <div class="card">
                            <div class="card-body d-flex">
                                <div class="icon icon-lg icon-primary icon-primary-shadow rounded-circle">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="col ps-4">
                                    <h5 class="h5 mb-2">How can I participate?</h5>
                                    <p class="w-lg-90 m-0">
                                      We're in the Polygon network. 1. Buy CUBO, 2. Buy DAI, 3. Setup a node by providing CUBO and DAI at the same amount.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 my-3">
                        <div class="card">
                            <div class="card-body d-flex">
                                <div class="icon icon-lg icon-primary icon-primary-shadow rounded-circle">
                                    <i class="bi bi-piggy-bank"></i>
                                </div>
                                <div class="col ps-4">
                                    <h5 class="h5 mb-2">What's in it for me?</h5>
                                    <p class="w-lg-90 m-0">
                                      A stable return. Cubo pays a daily return per node, depending on the type. That's effectively between 0.5 and 1% per day.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->

    </main>
    <!-- End Main -->
    <!-- Footer -->
    <footer class="bg-dark footer border-top effect-section text-white-50 z-index-1">
        <div class="mask bg-cover bg-no-repeat opacity-04 z-index--1"></div>
        <div class="footer-bottom footer-border py-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 my-2">
                        <div class="nav justify-content-center justify-content-md-start">
                            <a class="icon icon-sm icon-light rounded-circle me-2" href="https://discord.gg/X2w5xNbxD5" target="_blank">
                                <i class="fab fa-discord"></i>
                            </a>
                            <a class="icon icon-sm icon-light rounded-circle me-2" href="https://twitter.com/cubo_money" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 my-2 text-center text-md-end">
                        <p class="m-0"><script>document.write(new Date().getFullYear())</script> ❤️ &nbsp;CUBO</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <!--bootstrap-->
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/lp.js"></script>
</body>
<!-- end body -->
</html>
